<% if model.errors.any? %>
  <div class="error-alert">
    <h2 class="error-title">入力エラーがあります。内容をご確認ください。</h2>
    <ul>
      <% model.errors.full_messages.uniq.each do |message| %>
        <li class='error-message'><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
